* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

.light-body,
.light-body .header__theme-btn {
    filter: invert(100%);
}

.light-body div:not(.news__meta-photo),
video {
    filter: invert(100%);
}

header {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: #fff;
    font: 800 2em 'Fira Sans', sans-serif;
}

.header__theme-btn {
    width: 145px;
    height: 45px;
    font-size: 0.9em;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

footer {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer__year {
    color: #fff;
    font: 300 1.2em 'Fira Sans', sans-serif;
}

.footer__link {
    text-decoration: none;
    padding: 5px 8px;
    color: #fff;
    cursor: pointer;
    font: 300 1.2em 'Fira Sans', sans-serif;
}

.footer__link:hover,
.footer__link:focus {
    color: #69db7e;
    transform: translateY(-0.25em);
}

.footer__image {
    width: 100px;
    padding: 5px;
    background: #fff;
}

.footer__link:hover .footer__image {
    background: #69db7e;
}
