@import 'variables.scss';

@media screen and (max-width: 1599px) {
	.copyright {
		margin-left: 37.75%;
	}
}

@media screen and (max-width: 1400px) {
	.header {
		position: relative;
		z-index: 10;
	}
	.favorite-animal {
    background-size: auto 800px;
    background-position: -189px;
  }
}

@media screen and (max-width: 1225px) {
	.header__container {
		width: 940px;
		margin: 0 30px;
	}
	.navigation__list-item {
		&:nth-child(2) {
			margin-left: 48px;
			margin-right: 48px;
		}
		&:nth-child(3) {
			margin-right: 48px;
		}
		&:nth-child(5) {
			margin-left: 48px;
	  }
	}
	.copyright {
		margin-left: 27.4%;
	}
	.container {
		width: 940px;
	}
	.peak-friend {
		height: 1336px;
	}
	.peek-friend__content {
		width: 940px;
		height: 918px;
		margin-top: 40px;
		padding: 21px 44px 46px 45px;
	}
	.peek-friend__content-subtitle {
    margin-top: 10px;
  }
	.animal__widget-title {
    margin-left: 20px;
  }
	.animal__widget-row {
    margin-top: 6px;
    margin-left: 20px;
  }
	.pay-slider {
    width: 812px;
		padding-top: 9px;
		overflow-x: hidden;
  }
	.pay-slider__bullets {
    margin-left: -145px;
		&::before {
			content: '';
			width: 785px;
			margin-left: 134px;
		}
  }
	.pay-slider__desc {
		width: 820px;
		position: relative;
		.pay-slider__amount {
			&:nth-child(1) {
				display: none;
			}
		}
	}
	.pay-slider__amount {
		&:nth-child(2) {
			margin-right: 60px;
		}
		&:nth-child(3) {
			margin-right: 61px;
		}
		&:nth-child(7) {
			margin-right: 88px;
		}
	}
	.animal__donate {
    margin-top: 52px;
}
	.animal__donate-icon {
    left: 63.25%;
  }
	.footer__container {
    width: 1040px;
  }
	.footer__info {
    width: 298px;
  }
	.footer-navigation__list {
    margin-left: 43px;
  }
}

@media screen and (max-width: 1100px) {
	.container {
		width: 94vw;
		margin: 0 auto;
	}
	.peak-friend__title {
		width: 760px;
		margin-top: 45px;
		align-self: flex-start;
	}
	.peak-friend__desc {
		margin-top: 30px;
	}
	.peak-friend__subtitle {
		margin-top: 44px;
	}
	.footer__container {
    width: 940px;
		position: relative;
  }
	.footer__navigation {
    margin-left: -7px;
		.footer-navigation__list {
			margin-left: 12px;
			position: absolute;
			bottom: 1px;
		}
  }
	.footer__subscribe {
		position: relative;
		left: -33px;
	}
}

@media screen and (max-width: 999px) {
	.header {
		height: 34px;
	}
	.header__container {
		width: 94vw;
		height: 34px;
		margin: 0 20px;
		justify-content: space-between;
	}
	.logo {
		width: 47px;
		height: 29px;
		border: none;
	}
	.logo__title {
		width: 46.86px;
		height: 29.03px;
		display: flex;
		font-size: 12.2899px;
		line-height: 120%;
		&::before {
			transform: scale(0.65);
			top: 8px;
      left: 13px;
		}
	}
	.navigation__list,
	.copyright {
		display: none;
	}
	.burger__menu {
		margin-top: -4px;
		margin-right: 2px;
    display: block;
    height: 10px;
    width: 18px;
    z-index: 15;
    position: relative;
    cursor: pointer;
  }
  .burger__menu span,
  .burger__menu::before,
  .burger__menu::after {
    left: 0;
    position: absolute;
    height: 17%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: $white-color;
		border-radius: 2px;
  }
  .burger__menu::before,
  .burger__menu::after {
    content: '';
  }
  .burger__menu::before {
    top: 0;
  }
  .burger__menu::after {
    bottom: 0;
  }
  .burger__menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .burger__menu.active span {
    transform: scale(0) translate(0px, -50%);
    transition-duration: 0.25s;
    background-color: $white-color;
  }
  .burger__menu.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
    transition-duration: 0.25s;
    background-color: $white-color;
  }
  .burger__menu.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
    transition-duration: 0.25s;
    background-color: $white-color;
  }
  .show {
    width: 620px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: absolute;
    z-index: 15;
    top: 0;
    right: 0;
    background-color: $white-color;
    padding: 134px 0 463px 127px;
  }
  .show .header__nav-item {
    margin: 0;
  }
	.favorite-animal {
		height: 336px;
    background-size: auto 677px;
    background-position: -279px;
  }
	.container {
		width: 94vw;
		margin: 0 auto;
	}
	.peek-friend__content {
    width: 96vw;
    padding: 30px 41px 31px 27px;
  }
	.peek-friend__content-subtitle {
    margin-top: 20px;
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
  }
	.pay-slider {
		width: 600px;
	}
	.pay-slider__bullets {
    margin-left: 13px;
		&::before {
			content: '';
			width: 524px;
			margin-left: 0;
		}
  }
	.pay-slider__desc {
    width: 600px;
    left: 27px;
  }
	.pay-slider__amount {
		&:nth-child(2) {
			display: none;
		}
		&:nth-child(3) {
			display: none;
		}
		&:nth-child(7) {
			margin-right: 88px;
		}
	}
	.amount--active {
		color: $light-orange-color;
	> svg path {
		fill: $light-orange-color;
	}
	}
	.animal__content {
    width: 84vw;
  }
	.animal__widget-title {
    margin-top: 41px;
}
	.animal__donate-icon {
    left: 56vw;
  }
	.footer {
    height: 282px;
  }
	.footer__container {
    width: 94vw;
		margin: 0 20px;
  }
	.footer__info {
    margin-top: 13px;
  }
	.footer__social-list {
		position: absolute;
		top: 0;
		right: -10px;
		margin-top: 12px;
	}
	.footer__social-item {
		&:nth-child(2) {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		&:nth-child(3) {
			margin-bottom: 20px;
		}
	}
	.footer__social-link {
		span {
			display: none;
		}
	}
	.footer__navigation {
		width: 30px;
    .footer-navigation__list {
      left: 0;
    }
	}
	.navigation__list-item {
		&:nth-child(2) {
			margin-left: 37px;
			margin-right: 37px;
		}
		&:nth-child(3) {
			margin-right: 37px;
		}
	}
	.footer__subscribe {
    display: none;
	}
	.footer__copyright {
    margin-left: 11px;
    margin-top: 177px;
  }  
}

@media screen and (max-width: 800px) {
  .peak-friend__title {
		width: 596px;
		margin-top: 30px;
		font-size: 24px;
		line-height: 120%;
	}
	.peak-friend__desc {
		width: 610px;
		margin-top: 19px;
		align-self: flex-start;
	}
	.peak-friend__subtitle {
		margin-top: 30px;
	}
	.peek-friend__content {
    width: 94vw;
		margin-top: 28px;
    padding: 30px 0 31px;
  }
	.animal__content {
    margin-top: 50px;
    margin-left: 25px;
  }
  .animal__widget-title {
  	margin-top: 38px;
  	margin-left: 10px;
  }
	.animal__widget-row {
    margin-top: -3px;
    margin-left: 0;
  }
	.pay-slider__bullets {
    margin-left: 1px;
		padding-left: 35px;
  }
	.pay-slider__desc {
    left: 19px;
  }
	.animal__donate-icon {
    left: 58vw;
  }
	.animal__choice {
    margin-top: 30px;
  }
}

@media screen and (max-width: 640px) {
	.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }
	.peak-friend {
    height: 1332px;
  }
	.peak-friend__desc {
    width: 606px;
  }
	.peek-friend__content-title {
    margin-left: 0px;
  }
	.animal__donate-amount {
		width: 180px;
		height: 42px;
	}
	.animal__donate-icon {
		left: 58vw;
		top: 11px;
	}
	.link {
		&.footer__link {
			margin-top: 32px;
		}
	}
	.footer__navigation {
		.footer-navigation__list {
			margin-left: -1px;
		}
  }
	.footer__copyright {
    margin-left: 51px;
  }
}

@media screen and (max-width: 639px) {
	.header__container {
		margin: 0 16px;
	}
	.peak-friend__desc {
    width: 450px;
  }
	.pay-slider {
		transform: scale(0.5);
	}
	.footer__copyright {
    margin-left: 30px;
  }
}


@media screen and (max-width: 625px) {
	.header__container {
    margin: 0 7px;
  }
	.favorite-animal {
		height: 187px;
    background-size: auto 379px;
    background-position: -154px;
  }
	.peak-friend {
    height: 1145px;
  }
	.peak-friend__title {
		width: 100%;
	}
	.peak-friend__desc {
		width: 97%;
		margin-top: 20px;
	}
	.peak-friend__subtitle {
		font-size: 24px;
	}
	.peek-friend__content {
    padding: 20px 0;
		height: 591px;
  }
	.peek-friend__content-title {
    font-size: 24px;
  }
	.peek-friend__content-subtitle {
    margin-top: 10px;
    font-size: 16px;
  }
	.animal__content {
		width: 91vw;
    margin-top: 10px;
    margin-right: 0;
		margin-left: 0;
  }
	.animal__content-wrapper {
    width: 90px;
		margin-right: 6px;
  }
	.animal__content-days {
		margin-right: 0;
		font-size: 40.6015px;
	}
	.animal__content-desc {
    margin-right: 0;
    font-size: 9.02255px;
  }
	.animal__content-sign {
		width: 7.89px;
		height: 7.89px;
		background-size: cover;
	}
	.animal__content-image {
		width: 160px;
		height: 139px;
		margin-left: 36px;
	}
	.animal__content-icon {
		width: 160px;
		height: 139px;
	}
	.animal__content-wrapper {
  	margin-right: 15px;
  }
	.animal__content-days {
    margin-top: 42px;
  }
	.animal__widget-title {
    margin-top: 8px;
    margin-left: 1px;
  }
	.pay-slider {
    margin-top: -18px;
    margin-left: -10px;
  }
	.animal__donate {
    margin-top: 6px;
  }
	.animal__widget-row {
    margin-left: -100px;
  }
	.animal__donate-icon {
    left: 60vw;
  }
	.footer {
    height: 334px;
  }
	.footer__container {
    width: 302px;
		margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }
	.footer__info {
    display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
  }
	.footer__logo {
		height: 39px;
    border: none;
  }
	.footer-logo__title {
		width: 228px;
		height: 23px;
		display: flex;
		margin-left: 79px;
		font-size: 19.0145px;
		line-height: 120%;
		&::before {
			top: -4px;
      left: 83px;
		}
	}
	.link {
    &.footer__link {
    	margin-top: 78px;
    }
	}
	.footer__navigation {
    width: 0;
  }
	.footer__navigation {
    .footer-navigation__list {
      left: 11px;
      bottom: -48px;
    }
	}
	.navigation__list-item {
		&:nth-child(2) {
			margin-left: 30px;
			margin-right: 30px;
		}
		&:nth-child(3) {
			margin-right: 30px;
		}
	}
	.footer__social-list {
    position: absolute;
		display: flex;
		margin-top: 0;
		margin-right: 0;
		top: 73px;
    left: 53px;
  }
	.footer__social-item {
		&:nth-child(2) {
			margin: 0 18px;
		}
		&:nth-child(3) {
			margin-bottom: 0;
      margin-right: 18px;
		}
	}
	.footer__wrapper {
    margin-top: 0;
  }
	.footer__copyright {
    margin-top: 26px;
		align-self: flex-end;
  }
	.footer__copyright-link {
    font-size: 15px;
		line-height: 190%;
  }
}

@media screen and (max-width: 490px) {
	.header {
    height: 34px;
  }
	.header__container {
		width: 91vw;
		margin: 0 8px;
	}
	.burger__menu {
		margin-top: 0;
		margin-right: -10px;
  }
	.peak-friend__desc {
    width: 300px;
  }
	.peak-friend__subtitle {
    margin-top: 24px;
  }
	.peek-friend__content-subtitle {
    line-height: 132%;
  }
	.peak-friend__desc {
		width: 300px;
	}
	.animal__content {
    width: 94vw;
  }
  .animal__content-wrapper {
  	margin-right: 15px;
  }
	.animal__content-days {
    margin-top: 42px;
  }
	.animal__widget-title {
    margin-top: 8px;
    margin-left: 1px;
  }
	.pay-slider {
    margin-top: -18px;
    margin-left: -10px;
  }
	.animal__donate {
    margin-top: 6px;
  }
	.animal__donate-icon {
    left: 69vw;
  }
}

@media screen and (max-width: 400px) {
	.animal__content {
    margin-left: 0;
  }
	.animal__widget-row {
    margin-left: -140px;
  }
	.animal__donate-icon {
    left: 66vw;
  }
}

@media screen and (max-width: 320px) {
	.animal__donate-icon {
    left: 69vw;
  }
	.animal__choice {
    margin-top: 25px;
    margin-left: -5px;
  }
	.link {
		&.peek-friend__link {
			margin-top: 27px;
			margin-left: 1px;
	  }
	}
}
