$font-family: 'Roboto', serif;
$bold-font-weight: 700;
$medium-font-weight: 500;
$normal-font-weight: 400;
$thin-font-weight: 300;
$light-font-weight: 100;

$white-color: #ffffff;
$black-color: #000000;
$yellow-color: #FFEE2E;
$orange-color: #E47209;
$light-orange-color: #FE9013;
$green-color: #4B9200;
$red-color: #D31414;
$black-blue-color: #333B41;
$light-gray-color: #F1F3F2;
$gray-smoky-color: #BDBDBD;
$gray-color: #767474;
$orange-gradient-color-button: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$orange-gradient-color-border: linear-gradient(to right bottom, #fa6f32, #fe9013);

$number-of-options: 8;
