* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.header {
  height: 80px;
  background: #000000;
  backdrop-filter: blur(2px); }

.header__container {
  width: 1160px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center; }

.logo {
  width: 82px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.18841px solid #ffffff;
  border-radius: 2px; }
  .logo:hover {
    cursor: pointer;
    transform: scale(1.05); }

.logo__title {
  width: 72.49px;
  height: 44.91px;
  display: flex;
  margin-left: -24px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 121%;
  text-align: center;
  color: #ffffff; }
  .logo__title::before {
    content: url("../../assets/icons/logo-bamboo.svg");
    position: relative;
    top: 20px;
    left: 17px; }

.navigation__list {
  margin-left: 63px;
  display: flex;
  justify-content: center; }

.navigation__list-item {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%; }

.navigation__list-item:nth-child(even) {
  margin-left: 58px;
  margin-right: 58px; }

.navigation__list-link {
  color: #ffffff; }
  .navigation__list-link:hover {
    font-family: "Roboto", serif;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500; }

.link-active {
  font-family: "Roboto", serif;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500; }

.link-active {
  pointer-events: none; }

.copyright {
  margin-left: 438px; }

.copyright__link {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff; }
  .copyright__link:hover {
    font-family: "Roboto", serif;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500; }

.watch {
  height: 700px;
  background-image: url("../../assets/images/main-panda.png");
  background-size: cover;
  background-position-y: bottom; }

.container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center; }

.watch__content {
  width: 500px;
  margin-top: 86px;
  margin-left: 662px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 5; }
  .watch__content::before {
    content: '';
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -74px;
    left: -75px; }

.watch__content-title {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff; }
  .watch__content-title .watch__content-color {
    color: #FFEE2E; }

.link {
  display: inline-block;
  width: 298px;
  height: 54px;
  margin-top: 61px;
  padding: 16px 0;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff; }
  .link:hover {
    background: #E47209; }
  .link:active {
    background: #4B9200; }
  .link.pets__link {
    margin-top: 80px;
    margin-bottom: 100px; }

.backstage {
  margin-top: 140px;
  position: relative; }
  .backstage::after {
    content: url("../../assets/images/backstage-flower_foto.png");
    position: absolute;
    top: -128px;
    right: 0; }

.backstage__image {
  width: 609px;
  height: 403px;
  margin-left: -1px;
  margin-top: -5px;
  background-image: url("../../assets/images/backstage-bamboo-cap.png"); }

.backstage__content {
  width: 465px;
  margin-left: 87px; }

.backstage__content-title {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333B41; }

.backstage__content-text {
  margin-top: 22px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41; }

.backstage__content-subtitle {
  margin-top: 54px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41; }
  .backstage__content-subtitle + .backstage__content-text {
    margin-top: 34px;
    line-height: 140%; }

.pets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .pets::before {
    content: url("../../assets/images/pets-palm_foto.png");
    position: absolute;
    left: 0;
    bottom: -3px; }
  .pets::after {
    content: url("../../assets/images/pets-strelitzia1.png");
    position: absolute;
    right: 0;
    bottom: -3px; }

.pets__slider {
  margin-top: 175px;
  display: flex;
  justify-content: center;
  align-items: center; }

.pets__button-arrow {
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  border: none;
  cursor: pointer; }
  .pets__button-arrow:hover {
    background: #E47209; }
  .pets__button-arrow:active {
    background: #4B9200; }
  .pets__button-arrow:first-child {
    margin-right: 20px;
    margin-top: -3px; }
  .pets__button-arrow:last-child {
    margin-left: 18px;
    margin-top: -3px; }

.pets__slider-container {
  margin-left: -2px; }

.pets__cards {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px; }

.pets__card {
  width: 366px;
  height: 426px;
  border: 2px solid transparent;
  background: linear-gradient(#ffffff 0 0) padding-box, linear-gradient(to right bottom, #fa6f32, #fe9013) border-box;
  border-radius: 5px; }

.pets__card-image {
  width: 362px;
  height: 364px; }
  .pets__card-image:hover {
    transform: scale(1.112); }

.pets__card-content {
  position: relative;
  margin-left: 13px; }

.pets__card-title {
  margin-top: 5px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000; }

.pets__card-desc {
  margin-top: -3px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000; }

.pets__card-icon {
  position: absolute;
  right: 10px;
  top: 0; }
  .pets__card-icon.meat-icon {
    right: 6px;
    top: -2px; }

/*# sourceMappingURL=style.css.map */
