$font-family: 'Roboto', serif;
$white-color: #ffffff;
$black-color: #000000;
$yellow-color: #FFEE2E;
$orange-color: #E47209;
$green-color: #4B9200;
$orange-gradient-color: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$bold-font-weight: 700;
$medium-font-weight: 500;
$normal-font-weight: 400;
$light-font-weight: 100;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.header {
	height: 80px;
	background: $black-color;
	backdrop-filter: blur(2px);
}

.header__container {
	width: 1160px;
	height: 80px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.logo {
	width: 82px;
  height: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1.18841px solid $white-color;
	border-radius: 2px;
	&:hover {
		cursor: pointer;
		transform: scale(1.05);
	}
}

.logo__title {
	width: 72.49px;
  height: 44.91px;
	display: flex;
	margin-left: -24px;
	font-family: $font-family;
  font-style: normal;
  font-weight: $normal-font-weight;
  font-size: 19.0145px;
  line-height: 121%;
  text-align: center;
  color: $white-color;
	&::before {
		content: url('../../assets/icons/logo-bamboo.svg');
		position: relative;
		top: 20px;
		left: 17px;
	}
}

.navigation__list {
	margin-left: 63px;
	display: flex;
	justify-content: center;
}

.navigation__list-item {
	font-family: $font-family;
	font-style: normal;
	font-weight: $medium-font-weight;
	font-size: 16px;
	line-height: 140%;
}

.navigation__list-item:nth-child(even) {
	margin-left: 58px;
	margin-right: 58px;
}

.navigation__list-link {
	color: $white-color;
	&:hover {
		font-family: $font-family;
	  background: $orange-gradient-color;
	  background-clip: text;
	  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	  font-weight: $medium-font-weight;
	}
}

.link-active {
	font-family: $font-family;
	background: $orange-gradient-color;
	background-clip: text;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-weight: $medium-font-weight;
}

.link-active {
	pointer-events: none;
}

.copyright {
	margin-left: 438px;
}

.copyright__link {
	font-family: $font-family;
  font-style: normal;
  font-weight: $medium-font-weight;
  font-size: 16px;
  line-height: 140%;
  color: $white-color;
	&:hover {
		font-family: $font-family;
	  background: $orange-gradient-color;
	  background-clip: text;
	  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	  font-weight: $medium-font-weight;
	}
}

.watch {
	height: 700px;
	background-image: url('../../assets/images/main-panda.png');
	background-size: cover;
	background-position-y: bottom;
}

.container {
	width: 1160px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.watch__content {
	width: 500px;
	margin-top: 86px;
	margin-left: 662px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	z-index: 5;
	&::before {
    content: '';
    width: 465px;
    height: 465px;
		background: $orange-gradient-color;
		border-radius: 50%;
		position: absolute;
		z-index: -1;
		top: -74px;
    left: -75px
	}
}

.watch__content-title {
	font-family: $font-family;
  font-style: normal;
  font-weight: $bold-font-weight;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
	.watch__content-color {
		color: $yellow-color;
	}
}

.watch__content-link {
	display: inline-block;
	width: 298px;
  height: 54px;
	margin-top: 61px;
	padding: 16px 0;
	background: $orange-gradient-color;
  border-radius: 25px;
	font-family:  $font-family;
  font-style: normal;
  font-weight: $medium-font-weight;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
	&:hover {
		background: $orange-color;
	}
	&:active {
		background: $green-color;
	}
}

