@media screen and (max-width: 1599px) {
  .copyright {
    margin-left: 37.75%; }

  .backstage__image {
    width: 455px;
    height: 408px;
    background-position-x: -80px;
    background-size: cover; }

  .pets::before {
    content: url("../../../../assets/images/pets-palm_foto1.png");
    bottom: -45px; }
  .pets::after {
    transform: scale(65.5%);
    right: -63px;
    bottom: -92px; } }
@media screen and (max-width: 1400px) {
  .header {
    position: relative;
    z-index: 10; }

  .pets__slider {
    margin-top: 139px;
    position: relative; }

  .pets__button-arrow {
    position: absolute; }

  .pets__cards {
    width: 943px;
    gap: 90px 29px; }

  .pets__card {
    width: 295px;
    height: 355px; }

  .pets__card-image {
    width: 291px;
    height: 294px; }

  .pets__button-arrow:first-child {
    margin-right: 233px;
    margin-top: 0px; }

  .pets__button-arrow:last-child {
    margin-left: 233px;
    margin-top: 0; } }
@media screen and (max-width: 1225px) {
  .header__container {
    width: 940px;
    margin: 0 30px; }

  .container {
    width: 940px;
    margin: 0 30px; }

  .navigation__list-item:nth-child(even) {
    margin-left: 48px;
    margin-right: 48px; }

  .copyright {
    margin-left: 27.4%; }

  .watch__content {
    margin-left: 534px; }

  .backstage {
    margin-top: 100px; }
    .backstage::after {
      content: ''; } }
@media screen and (max-width: 1100px) {
  .watch {
    height: 504px;
    background-size: auto 587px;
    background-position-y: bottom;
    background-position-x: -100px; }

  .watch__content {
    margin-top: 42.8px;
    margin-left: 434px; }

  .watch__content-title {
    font-size: 85px; }
    .watch__content-title::before {
      content: '';
      width: 367px;
      height: 367px;
      top: -54px;
      left: -8px; }

  .link {
    margin-top: 41px; }

  .backstage__content {
    width: 454px;
    margin-left: 31px; } }
@media screen and (max-width: 999px) {
  .header {
    height: 34px; }

  .header__container {
    width: 96vw;
    height: 34px;
    margin: 0 20px;
    justify-content: space-between; }

  .container {
    width: 96vw;
    margin: 0 auto; }

  .logo {
    width: 47px;
    height: 29px;
    border: none; }

  .logo__title {
    width: 46.86px;
    height: 29.03px;
    display: flex;
    font-size: 12.2899px;
    line-height: 120%; }
    .logo__title::before {
      transform: scale(0.65);
      top: 8px;
      left: 13px; }

  .navigation__list,
  .copyright {
    display: none; }

  .burger__menu {
    margin-top: -4px;
    margin-right: 14px;
    display: block;
    height: 10px;
    width: 18px;
    z-index: 15;
    position: relative;
    cursor: pointer; }

  .burger__menu span,
  .burger__menu::before,
  .burger__menu::after {
    left: 0;
    position: absolute;
    height: 17%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
    border-radius: 2px; }

  .burger__menu::before,
  .burger__menu::after {
    content: ''; }

  .burger__menu::before {
    top: 0; }

  .burger__menu::after {
    bottom: 0; }

  .burger__menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%); }

  .burger__menu.active span {
    transform: scale(0) translate(0px, -50%);
    transition-duration: 0.25s;
    background-color: #ffffff; }

  .burger__menu.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
    transition-duration: 0.25s;
    background-color: #ffffff; }

  .burger__menu.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
    transition-duration: 0.25s;
    background-color: #ffffff; }

  .show {
    width: 620px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: absolute;
    z-index: 15;
    top: 0;
    right: 0;
    background-color: #ffffff;
    padding: 134px 0 463px 127px; }

  .show .header__nav-item {
    margin: 0; }

  .backstage {
    margin-top: 60px; }
    .backstage::after {
      content: url("../../../../assets/images/backstage-flower_foto1.png");
      top: -64px; }

  .backstage__image {
    display: none; }

  .backstage__content {
    margin-left: 10px;
    width: 482px; }

  .backstage__content-subtitle {
    margin-top: 30px; }
    .backstage__content-subtitle + .backstage__content-text {
      margin-top: 20px; }

  .pets::before {
    transform: scale(100%);
    bottom: -7px;
    left: -60px; }
  .pets::after {
    transform: scale(48%);
    right: -95px;
    bottom: -77px; }

  .pets__slider {
    margin-top: 77px; }

  .pets__slider-container {
    margin-left: 0; }

  .pets__cards {
    width: 600px;
    gap: 90px 29px; }

  .pets__button-arrow:first-child {
    margin-right: 93px;
    margin-top: -6px; }

  .pets__button-arrow:last-child {
    margin-left: 91px;
    margin-top: -6px; }

  .pets__card {
    width: 285px;
    height: 332px; }

  .pets__card:nth-child(4) {
    display: none; }
  .pets__card:nth-child(5) {
    display: none; }

  .pets__card-image {
    width: 281px;
    height: 285px; }

  .pets__card-title {
    margin-top: 1px;
    font-size: 12.4695px; }

  .pets__card-desc {
    font-size: 11.6901px; }

  .pets__card-icon {
    width: 25.72px;
    height: 28.84px;
    right: 8px;
    top: 2px; }
    .pets__card-icon.meat-icon {
      width: 37.41px;
      height: 29.62px;
      right: 4px;
      top: 1px; }

  .link.pets__link {
    margin-top: 60px; } }
@media screen and (max-width: 940px) {
  .watch {
    height: 439px;
    background-size: auto 506px;
    background-position-y: bottom;
    background-position-x: -58px; }

  .watch__content {
    width: 98vw;
    margin-top: 48px;
    margin-left: 0;
    flex-direction: row-reverse;
    justify-content: center; }

  .watch__content-title {
    width: 256px;
    font-size: 54.2894px; }
    .watch__content-title::before {
      content: '';
      width: 237.6px;
      height: 237.6px;
      top: -38px;
      left: -38px; }

  .link.watch__content-link {
    align-self: flex-end;
    margin-left: 14px;
    margin-bottom: -47px; } }
@media screen and (max-width: 640px) {
  .watch {
    height: 339px;
    background-size: auto 376px;
    background-position-y: bottom;
    background-position-x: -67px; }

  .watch__content-title {
    margin-left: 51px; }

  .link.watch__content-link {
    margin-left: 5px; } }
@media screen and (max-width: 625px) {
  .watch__content {
    flex-direction: column; }

  .watch__content {
    flex-direction: column; }

  .watch__content-title {
    width: 128px;
    font-size: 28px;
    align-self: flex-end; }
    .watch__content-title::before {
      content: '';
      width: 119.09px;
      height: 119.09px;
      top: -38px;
      left: -38px; }

  .link.watch__content-link {
    align-self: center;
    margin-left: 14px;
    margin-bottom: -47px; }
  .link.pets__link {
    margin-top: 20px;
    margin-left: -2px; }

  .backstage__content {
    width: 300px; }

  .backstage__content-title {
    font-size: 24px; }

  .pets::before {
    transform: scale(36%);
    bottom: -27px;
    left: -74px; }
  .pets::after {
    content: url("../../../../assets/images/pets-strelitzia2.png");
    transform: scale(1);
    right: 0;
    bottom: 32px; }

  .pets__slider {
    margin-top: 37px; }

  .pets__button-arrow {
    display: none; }

  .pets__cards {
    width: 285.24px;
    flex-direction: column;
    gap: 20px 0; }

  .pets__card-image {
    height: 283px; } }
@media screen and (max-width: 490px) {
  .header {
    height: 34px; }

  .header__container {
    width: 93vw;
    margin: 0 10px; }

  .burger__menu {
    margin-top: 0;
    margin-right: -2px; }

  .watch {
    height: 339px;
    background-size: auto 340px;
    background-position-y: bottom;
    background-position-x: -74px; }

  .watch__content {
    margin-top: 41px; }

  .watch__content-title {
    align-self: flex-end;
    margin-right: 7px; }
    .watch__content-title::before {
      content: '';
      top: -19px;
      left: -19px; }

  .backstage {
    margin-top: 60px; } }
@media screen and (max-width: 420px) {
  .backstage::after {
    content: url("../../../../assets/images/backstage-flower_foto2.png");
    top: -67px; } }
@media screen and (max-width: 320px) {
  .watch {
    height: 187px;
    background-size: auto 190px;
    background-position-y: bottom;
    background-position-x: -36px; }

  .link.watch__content-link {
    margin-left: 0px;
    margin-top: 61px; }

  .backstage {
    margin-top: 105px; }

  .backstage__content {
    margin-left: 3px; }

  .backstage__content-text {
    margin-top: 10px; }

  .backstage__content-subtitle {
    margin-top: 20px; }
    .backstage__content-subtitle + .backstage__content-text {
      margin-top: 10px; } }

/*# sourceMappingURL=media.css.map */
