* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.header {
  height: 80px;
  background: #000000;
  backdrop-filter: blur(2px); }

.header__container {
  width: 1160px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center; }

.logo,
.footer__logo {
  width: 82px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.18841px solid #ffffff;
  border-radius: 2px; }
  .logo:hover,
  .footer__logo:hover {
    cursor: pointer;
    transform: scale(1.05); }

.logo__title,
.footer-logo__title {
  width: 72.49px;
  height: 44.91px;
  display: flex;
  margin-left: -24px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 121%;
  text-align: center;
  color: #ffffff; }
  .logo__title::before,
  .footer-logo__title::before {
    content: url("../../../../assets/icons/logo-bamboo.svg");
    position: relative;
    top: 20px;
    left: 17px; }

.navigation__list,
.footer-navigation__list {
  margin-left: 63px;
  display: flex;
  justify-content: center; }

.navigation__list-item {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%; }

.navigation__list-item:nth-child(2) {
  margin-left: 58px;
  margin-right: 58px; }
.navigation__list-item:nth-child(3) {
  margin-right: 58px; }
.navigation__list-item:nth-child(5) {
  margin-left: 58px; }

.copyright-item {
  display: none; }

.navigation__list-link {
  color: #ffffff; }
  .navigation__list-link:hover {
    font-family: "Roboto", serif;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500; }

.link-active {
  font-family: "Roboto", serif;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500; }

.link-active {
  pointer-events: none; }

.copyright {
  margin-left: 438px; }

.copyright__link {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff; }
  .copyright__link:hover {
    font-family: "Roboto", serif;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500; }

.favorite-animal {
  height: 386px;
  background-image: url("../../../../assets/images/main-panda.png");
  background-size: cover;
  background-position-y: -198px; }

.peak-friend {
  height: 1482px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%); }

.container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.peak-friend__title {
  margin-top: 40px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #ffffff; }

.peak-friend__desc {
  margin-top: 10px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff; }

.peak-friend__subtitle {
  margin-top: 46px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #FE9013;
  align-self: flex-start; }

.peek-friend__content {
  width: 1160px;
  height: 964px;
  margin-top: 59px;
  padding: 40px 92px 62px;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px; }

.peek-friend__content-title {
  margin-left: -12px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013; }

.peek-friend__content-subtitle {
  margin-top: 20px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-align: left;
  color: #333B41; }

.animal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-right: 13px; }

.animal__content-wrapper {
  width: 184px; }

.animal__content-days {
  margin-top: 52px;
  margin-right: 27px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000; }

.animal__content-desc {
  margin-top: 11px;
  margin-right: 25px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333B41; }

.animal__content-sign {
  width: 14px;
  height: 14px;
  margin-top: 22px;
  margin-left: -11px;
  background-image: url("../../../../assets/icons/x_icon.svg"); }

.animal__content-image {
  margin-left: 64px; }

.animal__widget-title {
  margin-top: 45px;
  margin-left: 3px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000; }

.animal__widget-row {
  margin-top: 16px;
  height: 82px; }

.pay-slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.form__pay {
  width: 90%;
  max-width: 976px; }
  .form__pay .pay__slider {
    display: flex;
    position: relative;
    user-select: none;
    align-items: center;
    width: 974px;
    height: 27px;
    background: #404950;
    border-radius: 2px; }
    .form__pay .pay__slider::before {
      content: '';
      border-bottom: 2px solid #72828E;
      width: 850px;
      height: 2px;
      position: absolute;
      top: 10px;
      left: 64px; }
    .form__pay .pay__slider .pay__input,
    .form__pay .pay__slider .pay__label {
      box-sizing: border-box;
      flex: 1;
      user-select: none;
      cursor: pointer; }
    .form__pay .pay__slider .pay__label {
      display: inline-block;
      position: relative;
      width: 12.5%;
      height: 100%;
      user-select: none; }
      .form__pay .pay__slider .pay__label::before {
        content: attr(data-pay-amount);
        position: absolute;
        left: 50%;
        padding-top: 10px;
        transform: translate(-50%, 45px);
        font-family: "Roboto", serif;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 140%;
        text-transform: uppercase;
        color: #333B41;
        white-space: nowrap;
        transition: all 0.15s ease-in-out; }
      .form__pay .pay__slider .pay__label::after {
        content: " ";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        background: #FFEE2E;
        border-radius: 50%;
        pointer-events: none;
        user-select: none;
        z-index: 1;
        cursor: pointer;
        transition: all 0.15s ease-in-out; }
    .form__pay .pay__slider .pay__input {
      display: none; }
      .form__pay .pay__slider .pay__input:checked + .pay__label::before {
        color: #E47209;
        opacity: 1; }
      .form__pay .pay__slider .pay__input:checked + .pay__label::after {
        border-width: 4px;
        transform: translate(-50%, -50%) scale(0.75); }
      .form__pay .pay__slider .pay__input:checked ~ .pay-amount-pos {
        opacity: 1; }
      .form__pay .pay__slider .pay__input:checked:nth-child(1) ~ .pay-amount-pos {
        left: 6.25%; }
        .form__pay .pay__slider .pay__input:checked:nth-child(1) ~ .pay-amount-pos::before {
          content: '';
          position: absolute;
          display: block;
          width: 22px;
          height: 22px;
          border: 2px solid #FE9013;
          border-radius: 50%;
          top: -7.5px;
          left: -7px; }
        .form__pay .pay__slider .pay__input:checked:nth-child(1) ~ .pay-amount-pos::after {
          content: '';
          position: absolute;
          display: block;
          width: 38px;
          height: 38px;
          border: 2px solid #FE9013;
          border-radius: 50%;
          top: -15.5px;
          left: -15px; }
      .form__pay .pay__slider .pay__input:checked:nth-child(3) ~ .pay-amount-pos {
        left: 18.75%; }
        .form__pay .pay__slider .pay__input:checked:nth-child(3) ~ .pay-amount-pos::before {
          content: '';
          position: absolute;
          display: block;
          width: 22px;
          height: 22px;
          border: 2px solid #FE9013;
          border-radius: 50%;
          top: -7.5px;
          left: -7px; }
        .form__pay .pay__slider .pay__input:checked:nth-child(3) ~ .pay-amount-pos::after {
          content: '';
          position: absolute;
          display: block;
          width: 38px;
          height: 38px;
          border: 2px solid #FE9013;
          border-radius: 50%;
          top: -15.5px;
          left: -15px; }
      .form__pay .pay__slider .pay__input:checked:nth-child(5) ~ .pay-amount-pos {
        left: 31.25%; }
        .form__pay .pay__slider .pay__input:checked:nth-child(5) ~ .pay-amount-pos::before {
          content: '';
          position: absolute;
          display: block;
          width: 22px;
          height: 22px;
          border: 2px solid #FE9013;
          border-radius: 50%;
          top: -7.5px;
          left: -7px; }
        .form__pay .pay__slider .pay__input:checked:nth-child(5) ~ .pay-amount-pos::after {
          content: '';
          position: absolute;
          display: block;
          width: 38px;
          height: 38px;
          border: 2px solid #FE9013;
          border-radius: 50%;
          top: -15.5px;
          left: -15px; }
      .form__pay .pay__slider .pay__input:checked:nth-child(7) ~ .pay-amount-pos {
        left: 43.75%; }
        .form__pay .pay__slider .pay__input:checked:nth-child(7) ~ .pay-amount-pos::before {
          content: '';
          position: absolute;
          display: block;
          width: 22px;
          height: 22px;
          border: 2px solid #FE9013;
          border-radius: 50%;
          top: -7.5px;
          left: -7px; }
        .form__pay .pay__slider .pay__input:checked:nth-child(7) ~ .pay-amount-pos::after {
          content: '';
          position: absolute;
          display: block;
          width: 38px;
          height: 38px;
          border: 2px solid #FE9013;
          border-radius: 50%;
          top: -15.5px;
          left: -15px; }
      .form__pay .pay__slider .pay__input:checked:nth-child(9) ~ .pay-amount-pos {
        left: 56.25%; }
        .form__pay .pay__slider .pay__input:checked:nth-child(9) ~ .pay-amount-pos::before {
          content: '';
          position: absolute;
          display: block;
          width: 22px;
          height: 22px;
          border: 2px solid #FE9013;
          border-radius: 50%;
          top: -7.5px;
          left: -7px; }
        .form__pay .pay__slider .pay__input:checked:nth-child(9) ~ .pay-amount-pos::after {
          content: '';
          position: absolute;
          display: block;
          width: 38px;
          height: 38px;
          border: 2px solid #FE9013;
          border-radius: 50%;
          top: -15.5px;
          left: -15px; }
      .form__pay .pay__slider .pay__input:checked:nth-child(11) ~ .pay-amount-pos {
        left: 68.75%; }
        .form__pay .pay__slider .pay__input:checked:nth-child(11) ~ .pay-amount-pos::before {
          content: '';
          position: absolute;
          display: block;
          width: 22px;
          height: 22px;
          border: 2px solid #FE9013;
          border-radius: 50%;
          top: -7.5px;
          left: -7px; }
        .form__pay .pay__slider .pay__input:checked:nth-child(11) ~ .pay-amount-pos::after {
          content: '';
          position: absolute;
          display: block;
          width: 38px;
          height: 38px;
          border: 2px solid #FE9013;
          border-radius: 50%;
          top: -15.5px;
          left: -15px; }
      .form__pay .pay__slider .pay__input:checked:nth-child(13) ~ .pay-amount-pos {
        left: 81.25%; }
        .form__pay .pay__slider .pay__input:checked:nth-child(13) ~ .pay-amount-pos::before {
          content: '';
          position: absolute;
          display: block;
          width: 22px;
          height: 22px;
          border: 2px solid #FE9013;
          border-radius: 50%;
          top: -7.5px;
          left: -7px; }
        .form__pay .pay__slider .pay__input:checked:nth-child(13) ~ .pay-amount-pos::after {
          content: '';
          position: absolute;
          display: block;
          width: 38px;
          height: 38px;
          border: 2px solid #FE9013;
          border-radius: 50%;
          top: -15.5px;
          left: -15px; }
      .form__pay .pay__slider .pay__input:checked:nth-child(15) ~ .pay-amount-pos {
        left: 93.75%; }
        .form__pay .pay__slider .pay__input:checked:nth-child(15) ~ .pay-amount-pos::before {
          content: '';
          position: absolute;
          display: block;
          width: 22px;
          height: 22px;
          border: 2px solid #FE9013;
          border-radius: 50%;
          top: -7.5px;
          left: -7px; }
        .form__pay .pay__slider .pay__input:checked:nth-child(15) ~ .pay-amount-pos::after {
          content: '';
          position: absolute;
          display: block;
          width: 38px;
          height: 38px;
          border: 2px solid #FE9013;
          border-radius: 50%;
          top: -15.5px;
          left: -15px; }
    .form__pay .pay__slider .pay-amount-pos {
      display: block;
      position: absolute;
      top: 50%;
      width: 12px;
      height: 12px;
      background: #FFEE2E;
      border-radius: 50%;
      transition: all 0.15s ease-in-out;
      transform: translate(-50%, -50%);
      border: none;
      opacity: 0;
      z-index: 2; }
  .form__pay:valid .pay__slider .pay__input + .pay__label::before {
    transition: all 0.15s linear; }
  .form__pay:valid .pay__slider .pay__input:checked + .pay__label::before {
    transition: all 0.15s linear; }

@keyframes spin {
  from {
    transform: rotate(0deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px; }
  to {
    transform: rotate(360deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px; } }
.animal__donate {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

.animal__donate-amount {
  width: 268px;
  height: 54px;
  padding-left: 9px;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
  background: transparent; }
  .animal__donate-amount:focus {
    outline: none;
    border: 1px solid #4B9200;
    color: #4B9200;
    border-radius: 2px; }
  .animal__donate-amount::-webkit-outer-spin-button,
  .animal__donate-amount ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }

.animal__donate-icon {
  position: absolute;
  top: 15px;
  left: 61.5%; }

.animal__choice {
  margin-top: 24px;
  display: flex;
  width: 210px; }

.animal__choice-label {
  position: relative;
  padding-left: 26px;
  padding-right: 31px;
  margin-bottom: 12px;
  margin-left: 16px;
  cursor: pointer;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41; }

.animal__choice-radio {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  cursor: pointer; }

.animal__choice-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background: none;
  border: 1px solid #E47209;
  border-radius: 8px; }

.animal__choice .animal__choice-label:hover .animal__choice-radio ~ .animal__choice-checkbox {
  background-color: #4B9200;
  border-color: #4B9200; }
.animal__choice .animal__choice-label .animal__choice-radio:checked ~ .animal__choice-checkbox {
  background-color: #4B9200;
  border-color: #4B9200; }

.link {
  display: inline-block;
  width: 298px;
  height: 54px;
  margin-top: 61px;
  padding: 16px 0;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff; }
  .link:hover {
    background: #E47209; }
  .link:active {
    background: #4B9200; }
  .link.peek-friend__link {
    margin-top: 30px;
    margin-left: 6px; }
  .link.footer__link {
    margin-top: 69px;
    border-radius: 5px; }

.peek-friend__-text {
  margin-top: 30px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41; }

.footer {
  height: 443px;
  background: #111115; }

.footer__container {
  width: 1160px;
  margin: 0 auto;
  display: flex; }

.footer__info {
  margin-top: 40px;
  width: 398px; }

.footer__social-list {
  margin-top: 44px; }

.footer__social-item:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 10px; }
.footer__social-item:nth-child(3) {
  margin-bottom: 10px; }

.footer__social-link {
  display: flex;
  align-items: center;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff; }
  .footer__social-link:hover {
    color: #4B9200; }
  .footer__social-link .footer__social-icon circle:hover {
    fill: #4B9200; }

.footer__social-icon {
  margin-right: 12px; }

.footer__navigation {
  width: 460px;
  align-self: flex-end; }
  .footer__navigation .navigation__list {
    justify-content: start;
    margin-left: 0; }
  .footer__navigation .navigation__list .navigation__list-item:nth-child(4) {
    margin-right: 0; }

.footer__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px; }

.footer__subscribe-title {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff; }

.footer__subscribe-form {
  margin-top: 14px;
  display: flex;
  align-items: center; }

.footer__subscribe-input {
  width: 228px;
  height: 42px;
  padding-left: 10px;
  background: #111115;
  border: 1px solid transparent;
  background: linear-gradient(#ffffff 0 0) padding-box, linear-gradient(to right bottom, #fa6f32, #fe9013) border-box;
  box-shadow: inset 0px 0px 0px 100vw #111115;
  border-radius: 2px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD; }
  .footer__subscribe-input:focus {
    outline: none;
    border: 1px solid transparent;
    background: linear-gradient(#ffffff 0 0) padding-box, linear-gradient(to right bottom, #fa6f32, #fe9013) border-box;
    border-radius: 2px; }

.footer__subscribe-btn {
  width: 129px;
  height: 42px;
  margin-left: 10px;
  cursor: pointer;
  background: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000; }
  .footer__subscribe-btn .active {
    border: 1px solid #4B9200;
    color: #4B9200; }
  .footer__subscribe-btn .mistake {
    border: 1px solid #D31414;
    color: #D31414; }

.footer__copyright {
  margin-left: 138px;
  margin-top: 215px; }

.footer__copyright-link {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff; }
  .footer__copyright-link:hover {
    border-bottom: 1px solid #4B9200;
    color: #4B9200; }

.overlay {
  background-color: rgba(41, 41, 41, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100vw;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
